.card {
	color: var(--dark);
	cursor: pointer;
}

.card.footer {
	color: var(--white);
}

.card img {
	width: 450px;
	height: 300px;
	border-radius: 10px;
	object-fit: cover;
	opacity: 0;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
}

.card img:hover {
	width: 500px;
	height: 350px;
}

@media (max-width: 480px) {
	.card img {
		width: 350px;
	}

	.card img:hover {
		width: 375px;
	}
}

.card.footer img {
	width: 350px;
}

.card h4 {
	max-width: 350px;
	text-align: center;
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.author {
	border: 2px solid var(--dark);
	border-radius: 100px;
	width: auto;
	font-size: 12px;
}

.card.footer .author {
	border: 2px solid var(--white);
}

