.card {
	color: var(--dark);
}

.card.footer {
	color: var(--white);
}

.card img {
	width: 450px;
	border-radius: 10px;
}

.card.footer img {
	width: 350px;
}

.card h4 {
	max-width: 350px;
	text-align: center;
}

.author {
	border: 2px solid var(--dark);
	border-radius: 100px;
	width: auto;
	font-size: 12px;
}

.card.footer .author {
	border: 2px solid var(--white);
}

