.footer {
	background-color: var(--dark-grey);
	color: var(--white);
}

.footer h5 {
	color: var(--orange);
	font-size: 14px;
}

.footer p {
	font-size: 12px;
}

.footer p a {
	color: var(--white);
	text-decoration: underline !important;
}

.logoText {
	font-size: 10px;
}

@media (max-width: 767px) {
	.footer {
		flex-direction: column;
	}

	.footer h5 {
		margin: 20px 0;
		text-align: center;
	}

	.footer p {
		text-align: center;
	}
}