.navbar {
	color: var(--dark);
}

.logo {
	background-color: var(--orange);
	font-weight: bold;
  border-bottom-left-radius: 15px;
  transform: rotate(-90deg);
  position: absolute;
  left: -55px;
  top: 34px;
  padding: 15px;
  padding-right: 35px;
  padding-top: 35px;
  font-size: 14px;
  text-decoration: line-through;
}

.menu {
	float: right;
}

@media (max-width: 767px) {
	.menu {
		visibility: hidden;
	}
}

.menuGroup {
	border-bottom: 2px solid var(--dark);
	font-weight: bold;
	width: 200px;
	justify-content: space-around;
	padding-bottom: 10px;
}

.menuGroup a {
	color: var(--dark);
}

.menuGroup a:hover {
	color: var(--orange);
}

.hamburger {
	cursor: pointer;
}

.iconBar {
	background-color: var(--orange);
  height: 4px;
  width: 35px;
  display: block;
  margin-top: 5px;
  transition: all .5s cubic-bezier(.5, 0, .5, 1);
}

.iconBar.top {
	transform: translate3d(0, -1px, 0);
}

.iconBar.mid {
	transform: translateZ(0);
}

.iconBar.bot {
	transform-origin: center center;
}

.hamburger.open .iconBar.top {
	transform: translate3d(0, 9px ,0) rotate(45deg);
}

.hamburger.open .iconBar.mid {
	transform: translateZ(0) rotate(-45deg);
}

.hamburger.open .iconBar.bot {
	transform: scaleX(0);
}